@import url('https://fonts.googleapis.com/css?family=Engagement&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lora|Playfair+Display&display=swap');

.hero {
  background-image: url("images/eee.jpg");
  /* background-attachment: fixed; */
  background-size: cover;
  color: white;
}

.hero-body h1,
.hero-body h2 {
  color: white;
}


.hero-body h1 {
font-family: 'Engagement';
font-size: 150px;
color: #FFFFFF;
letter-spacing: -6.25px;
text-align: center;
margin-top: -70px;
}

.gallery-image {
  margin-bottom: 50px;
}

.blurb {
  margin: 125px 0px;
}

.blurb p:first-child {
  text-align: center;
  font-family: 'Playfair Display', serif;
  color: #523A4C;
  font-size: 30px;
  margin: 0px 200px;
}

.blurb p:nth-child(2) {
  margin: 10px 0px;
}

.blurb p {
  color: #969CA8;
  text-align: center;
  font-size: 20px;
  font-family: 'Lora', serif;
  font-weight: bold;
}

.chapter-header {
  margin: 75px 0px;
}

.chapter-header h2 {
  color: #523A4C;
  text-align: center;
  font-family: 'Engagement';
  font-size: 100px;
  line-height: 100px;
}

.chapter-header p:nth-child(2) {
  text-align: center;
  font-size: 30px;
}

.navbar {
  margin: 12px 25px;
}

.hero.is-link .navbar-item,
.hero.is-link .navbar-link {
  colour: #333333;
}

/* switches for Sarra */
body {
  /* background-color: purple; */
}

/* transparent nav */
.navbar {
background-color: transparent;
background-image: none;
}
.is-transparent {
  background-color: transparent;
  background-image: none;
}
